body {
    background: #f5d9df;
    font-family: 'Nunito',sans-serif;
}

.red h2 {
    color:#EA1C2C;
    font-weight: 100;
    font-size: 1.7rem;

}

.margin {
    margin-top: 50px; 
    margin-bottom: 20px;
}

.red p {
    color:#F498B8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2.0;
}

#navBar {
    font-size: 1.5rem;
    font-weight: 100;
}

#navBar .nav-link{
    color: white;
}

#navBar .nav-link:hover{
    color: #EA1C2C;
}

#navBar .navbar-brand{
    color: #EA1C2C;
    font-size: 1.5rem;
}

#museumIntro h1 {
    font-weight: 100;
    font-size: 1.6rem;
}

#museumIntro span {
    color: #EA1C2C;
}

/* .scrolled {
    background: #dec0de;
    transition: background 500ms; 
}*/


@media (max-width: 1500px) {
    #museumIntro h1 {
        color: white;
        font-weight: 100;
        font-size: 1.6rem;
    }

    .margin {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}